doctype html
html
  head
    title My super collage
    <style>
      include styles.css
    </style>
    script(type='text/javascript' src='jquery-3.1.1.min.js')

  body
    each s in sources
      img(src=s, class="img", width="300px")
